/**
 * @file
 * Web Doc full contant view mode
 *
 */

 /*
 * Media query breakpoints.
 * Processed by postcss/postcss-custom-media.
 */

 /* Navigation related breakpoints */

 /* Grid related breakpoints */

 /* Grid shifts from 6 to 14 columns. */

 /* Width of the entire grid maxes out. */

 .main-content{
   width: 100%
  
 }

 .main-content .region--breadcrumb{
      width: 100%;
      margin-left: auto;
      margin-right: auto
  }

 @media (min-width: 55.55556rem) {

 .main-content .region--breadcrumb{
        width: calc(100% - var(--content-left))
  }
      }

 .node--type-webdoc.node--view-mode-full .layout--twocol-section{

    flex-wrap: wrap
    
   }

 @media (min-width: 38.88889rem) {

 .node--type-webdoc.node--view-mode-full .layout--twocol-section{
      flex-wrap: inherit
    
   }
    }

 .node--type-webdoc.node--view-mode-full .layout__region--second{
    padding-inline-end: calc(var(--grid-gap--md)*0)
   }

 @media (min-width: 38.88889rem) {

 .node--type-webdoc.node--view-mode-full .layout__region--second{
        padding-inline-end: calc(var(--grid-gap--md)*0.75)
   }
      }

 .node--type-webdoc.node--view-mode-full .layout__region--second pre {
        display: grid;
       }

 .node--type-webdoc.node--view-mode-full .layout__region--second code {
          font-size:var(--font-size-m);
          background-color: var(--color--gray-75);
          color:var(--color--black);
          width:100%;

       }

 .node--type-webdoc.node--view-mode-full .layout__region--first {
 
     background: var(--color--main-1);
 
     }

 .node--type-webdoc.node--view-mode-full .book-navigation__menu {
     padding: var(--sp1)
     
   }

 .node--type-webdoc.node--view-mode-full .book-navigation__menu .book-navigation__item {
 
       font-size: var(--font-size-m);
       line-height: var(--sp2-5);
     }

 .node--type-webdoc.node--view-mode-full .book-navigation__menu a {
       color: var(--color--white);
       text-decoration: none
     }

 .node--type-webdoc.node--view-mode-full .book-navigation__menu a:hover {
         text-decoration: underline;
       }

 .node--type-webdoc.node--view-mode-full .book-navigation__menu .menu__link--active-trail{
      color: var(--color--black);
      background: var(--color--gray-80);
      padding:0.44444rem;
      border-radius: 0.22222rem;
      text-decoration: none;
   }

 .node--type-webdoc.node--view-mode-full .book-navigation {
      width: calc(100% - var(--content-left));
      margin-left: auto;
      margin-right: auto

   }

 .node--type-webdoc.node--view-mode-full .book-navigation .book-navigation__menu{
        display:none;
      }