/**
 * @file
 * Web Blog full contant view mode
 *
 */

 @import "../base/media-queries.pcss.css";

 .page-node-type-product {

    .block-views-blockreleases-title-releases-block{

      border:1px solid var(--color--main-1);
      border-radius: var(--border-radius3);
      padding: 20px;

      & .node__content{
        padding-block-end: 0px;
      }

      & ul {
        list-style-type: none;

        & h2 {
          font-weight: normal;
          
        }

        & li{
          position:relative;

        }

        & li::before{
          background-image: url("../../images/icon/Icon-webreleases.svg");
          position:absolute; /*or absolute*/
          display: block;
          left:-26px;
          top:0px;
          content: '';
          width: 25px;
          height: 25px;

          
        }
      }

      & h2 {
        letter-spacing: -0.01em;
        font-size: var(--font-size-xs);   
        line-height: var(----sp0-5); 
        margin-block: var(--sp); 
         
        
        @media (--md) {
          font-size: var(--font-size-s);
          line-height: var(----sp0-5);
          margin-block: var(--sp);
        }
      }

      & a{
        text-decoration: none;
        border-bottom: 1px var(--color--main-1) dotted;
        color:var(--color--main-1);
      }
      & a:hover{
        border-bottom:none;
        color:var(--color--black);
      }


      & .view-footer{
        & a{
          text-decoration: underline;
          color:var(--color--main-1);
          border-bottom:none;
        }
        & a:hover{
          text-decoration: none;
          color:var(--color--black);
          border-bottom:none;
        }
      }
    }
  
  .block-field-blocknodeproductbody{
    margin-top: var(--sp1-5);
  }
  
}

.block-views-blockproducts-products-block{

  & .views-view-grid__item{
    border:1px solid var(--color--main-1);
    border-radius:var(--border-radius3);
    padding: 20px;

    & a{
      text-decoration: none;
      color:var(--color--black);
      box-shadow: none;
    }
    & a:hover{
      text-decoration: underline;
      color:var(--color--main-1);
    }

    & h3 {
      font-size: var(--font-size-l);    
      line-height: var(--sp1-5);   
      
      @media (--md) {
        font-size: var(--font-size-xl);
        line-height: var(--sp2);
      }
    }

  }
  
  .node__content{
    padding-block-end: 0px ;
  }

  .layout--twocol-section{
    flex-wrap: wrap;

    @media (--md) {
      flex-wrap: inherit;
    }
  }


}

.view-display-id-releases_page{
    .field--name-title {
      & h3 {
        font-size: var(--font-size-l);    
        line-height: var(--sp1-5);   
        
        @media (--md) {
          font-size: var(--font-size-xl);
          line-height: var(--sp2);
        }
      }

      & a{
        text-decoration: none;
        color:var(--color--black);
        box-shadow: none;
      }
      & a:hover{
        text-decoration: underline;
        color:var(--color--main-1);
      }
  } 
}

.page-node-type-release{

  .region--content {
 
    width:90%;
    margin:auto;
  
    @media (--md) {
      width:75%;
    }
  
    }
}