/**
 * @file
 * Web Blog full contant view mode
 *
 */

 /*
 * Media query breakpoints.
 * Processed by postcss/postcss-custom-media.
 */

 /* Navigation related breakpoints */

 /* Grid related breakpoints */

 /* Grid shifts from 6 to 14 columns. */

 /* Width of the entire grid maxes out. */

 .page-node-type-product {

    .block-views-blockreleases-title-releases-block{

      border:1px solid var(--color--main-1);
      border-radius: var(--border-radius3);
      padding: 1.11111rem
    }

      .block-views-blockreleases-title-releases-block .node__content{
        padding-block-end: 0px;
      }

      .block-views-blockreleases-title-releases-block ul {
        list-style-type: none
      }

        .block-views-blockreleases-title-releases-block ul h2 {
          font-weight: normal;
          
        }

        .block-views-blockreleases-title-releases-block ul li{
          position:relative;

        }

        .block-views-blockreleases-title-releases-block ul li::before{
          background-image: url("data:image/svg+xml,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'%09 width='100%25' viewBox='0 0 512 512' enable-background='new 0 0 512 512' xml:space='preserve'%3e%3cpath fill='%23000000' opacity='1.000000' stroke='none' %09d='M182.000000,194.276169 %09C182.103806,185.895706 186.029251,182.003296 193.956299,182.002365 %09C235.955399,181.997360 277.954498,181.997650 319.953583,182.002045 %09C328.141083,182.002899 331.994568,185.919922 331.998718,194.222916 %09C332.003967,204.674683 331.999969,215.126434 331.999969,225.857513 %09C343.505981,226.593185 354.511993,227.228973 365.507233,228.015396 %09C383.252655,229.284653 400.994720,230.605591 418.730347,232.004547 %09C425.253662,232.519089 431.809143,232.991608 438.251617,234.070450 %09C445.790833,235.332947 451.884766,246.302109 452.183807,252.839722 %09C452.958252,269.771698 454.657959,286.660889 455.958740,303.569427 %09C456.350891,308.667114 456.691803,313.769714 456.976501,318.874512 %09C457.675720,331.410004 458.651367,343.944641 458.785522,356.487427 %09C458.821533,359.855835 457.106262,364.113007 454.729645,366.508301 %09C410.475525,411.110016 366.013367,455.505402 321.553650,499.902893 %09C315.765747,505.682678 308.199982,505.651398 302.392303,499.854858 %09C268.655426,466.182800 234.943375,432.485779 201.282745,398.737549 %09C195.785522,393.226044 190.924225,387.043457 185.166138,381.837891 %09C177.139969,374.581909 179.755722,367.975464 185.148178,362.425354 %09C193.741440,353.580811 202.557159,344.952484 211.268784,336.222748 %09C212.391617,335.097595 213.454727,333.912811 215.257782,332.000000 %09C212.528595,332.000000 210.769974,331.970337 209.012619,332.004425 %09C181.281540,332.542450 181.728088,332.659271 181.933716,304.743347 %09C182.203796,268.077209 182.000000,231.407578 182.000000,194.276169 M301.999969,278.499969 %09C270.578400,309.920837 239.156830,341.341675 208.530518,371.967346 %09C243.575180,407.009003 278.249634,441.680481 312.975372,476.403290 %09C352.997986,436.411865 393.542328,395.907623 434.049561,355.366333 %09C434.913757,354.501434 435.842224,353.235565 435.900208,352.113373 %09C436.114868,347.959564 436.210297,343.771759 435.930664,339.625031 %09C434.700439,321.382202 433.289459,303.151611 432.013763,284.911713 %09C431.326385,275.084045 430.779907,265.246521 430.181213,255.596191 %09C427.843140,254.961441 426.148071,254.194397 424.409119,254.076950 %09C408.279968,252.987549 392.145782,251.967285 376.007660,251.018814 %09C368.414307,250.572540 360.805817,250.387939 353.210510,249.969879 %09C347.614044,249.661835 341.911377,249.709412 336.483093,248.542389 %09C333.475555,247.895813 331.902466,248.528214 330.040833,250.405289 %09C320.889587,259.632355 311.685455,268.806915 301.999969,278.499969 M211.579468,310.000000 %09C218.743393,310.000000 225.913559,309.824280 233.068466,310.078247 %09C236.367401,310.195374 238.572556,309.046021 240.835236,306.764587 %09C260.308411,287.130066 279.531311,267.222931 299.628601,248.243958 %09C307.543213,240.769760 311.591309,233.216888 310.142334,222.340286 %09C309.346802,216.368881 310.000000,210.204468 310.000000,204.287506 %09C274.247314,204.287506 239.326187,204.287506 204.337845,204.287506 %09C204.337845,239.615158 204.337845,274.654297 204.337845,310.000000 %09C206.649536,310.000000 208.625702,310.000000 211.579468,310.000000 z'/%3e%3cpath fill='%23000000' opacity='1.000000' stroke='none' %09d='M216.000000,11.000000 %09C250.637604,11.000009 284.775208,10.996948 318.912811,11.002130 %09C327.705963,11.003465 331.999329,15.214538 331.999542,23.808327 %09C332.000610,65.439552 332.001862,107.070786 331.998505,148.702011 %09C331.997803,157.718445 328.784485,160.999542 319.981262,160.999680 %09C277.683929,161.000381 235.386612,161.001877 193.089279,160.998230 %09C185.566055,160.997589 182.011871,157.439957 182.008667,149.770844 %09C181.990860,107.306999 181.994812,64.843140 182.005615,22.379290 %09C182.007309,15.718925 186.652847,11.095297 193.518967,11.018882 %09C200.845139,10.937346 208.172928,11.000187 216.000000,11.000000 M310.000000,76.500000 %09C310.000000,62.084908 310.000000,47.669819 310.000000,33.402088 %09C274.246521,33.402088 239.210297,33.402088 204.269562,33.402088 %09C204.269562,68.722725 204.269562,103.640663 204.269562,138.686310 %09C239.575287,138.686310 274.610687,138.686310 310.000000,138.686310 %09C310.000000,118.083099 310.000000,97.791550 310.000000,76.500000 z'/%3e%3cpath fill='%23000000' opacity='1.000000' stroke='none' %09d='M161.000000,309.995514 %09C160.999969,314.157959 161.011292,317.821533 160.997452,321.485077 %09C160.972351,328.128174 157.371552,331.963745 150.695129,331.971985 %09C107.565071,332.025177 64.434898,332.019592 21.304825,331.975616 %09C15.369863,331.969574 11.021461,326.776367 11.009840,319.906219 %09C10.980545,302.587616 11.000021,285.268951 11.000007,267.950287 %09C10.999988,243.637558 10.995373,219.324814 11.002495,195.012085 %09C11.005061,186.253876 15.226823,182.000610 23.883511,182.000427 %09C65.514900,181.999527 107.146286,181.997925 148.777679,182.001663 %09C157.749512,182.002472 160.999573,185.226608 160.999725,194.094482 %09C161.000366,232.561874 161.000000,271.029266 161.000000,309.995514 M77.500000,204.000000 %09C62.751789,204.000000 48.003578,204.000000 33.401894,204.000000 %09C33.401894,239.753098 33.401894,274.789307 33.401894,309.730652 %09C68.722328,309.730652 103.640259,309.730652 138.686523,309.730652 %09C138.686523,274.425140 138.686523,239.389725 138.686523,204.000000 %09C118.416718,204.000000 98.458359,204.000000 77.500000,204.000000 z'/%3e%3cpath fill='%23000000' opacity='1.000000' stroke='none' %09d='M161.000000,128.000000 %09C160.999954,135.999222 161.028183,143.498596 160.991089,150.997635 %09C160.960159,157.251724 157.404739,160.980759 151.312637,160.984695 %09C107.817146,161.012726 64.321617,161.006393 20.826107,160.990250 %09C16.069227,160.988495 11.654023,156.530457 11.034560,151.169601 %09C10.901476,150.017883 11.000710,148.838791 11.000687,147.672302 %09C10.999888,106.509880 11.151234,65.346405 10.862997,24.186003 %09C10.810050,16.625111 16.423491,10.796160 24.370710,10.855978 %09C65.530792,11.165782 106.694466,10.997352 147.856888,11.002073 %09C157.114746,11.003136 160.999924,14.860703 160.999954,24.010378 %09C161.000061,58.506920 161.000000,93.003456 161.000000,128.000000 M51.500809,139.000000 %09C80.574196,139.000000 109.647575,139.000000 138.606934,139.000000 %09C138.606934,103.264740 138.606934,68.228622 138.606934,33.260578 %09C103.295364,33.260578 68.377472,33.260578 33.304756,33.260578 %09C33.304756,68.557205 33.304756,103.592606 33.304756,139.000000 %09C39.236217,139.000000 44.868881,139.000000 51.500809,139.000000 z'/%3e%3cpath fill='%23000000' opacity='1.000000' stroke='none' %09d='M308.030029,357.003174 %09C301.550690,353.391205 298.829010,348.240417 301.304352,342.567230 %09C305.241028,333.544891 312.825348,334.609192 320.575592,337.351135 %09C321.685791,332.209015 319.250702,326.348297 324.480377,323.232666 %09C326.844055,321.824524 329.955902,321.208099 332.761932,321.099304 %09C339.427795,320.840729 341.450500,324.013855 343.592560,337.416016 %09C348.724762,334.767273 354.049194,334.028107 358.828796,337.544128 %09C360.666809,338.896271 362.465302,341.316284 362.819427,343.488159 %09C364.059601,351.094116 360.607239,356.145630 351.512604,358.149689 %09C352.822357,362.747833 354.910675,367.361664 355.162628,372.073700 %09C355.294952,374.547943 352.741425,377.885681 350.473541,379.623260 %09C345.237152,383.635132 338.102295,380.866547 331.875183,372.937469 %09C327.417114,376.173004 324.531097,382.613983 317.536499,380.908630 %09C315.285095,380.359680 312.923309,379.162842 311.239899,377.590271 %09C306.091827,372.781311 306.640289,367.246155 312.783264,359.095337 %09C311.286865,358.406921 309.840881,357.741699 308.030029,357.003174 z'/%3e%3cpath fill='%23000000' opacity='1.000000' stroke='none' %09d='M393.685913,289.159241 %09C392.795135,286.262451 391.688446,283.644958 391.675476,281.022064 %09C391.652069,276.298431 395.190979,271.949402 399.049561,271.060455 %09C404.177063,269.879150 410.203400,272.137787 412.591705,276.135895 %09C415.025208,280.209686 414.252838,285.829224 410.718048,289.768188 %09C407.798279,293.021790 402.355652,294.041565 398.104797,292.005035 %09C396.648254,291.307251 395.339294,290.301300 393.685913,289.159241 z'/%3e%3c/svg%3e");
          position:absolute; /*or absolute*/
          display: block;
          left:-1.44444rem;
          top:0px;
          content: '';
          width: 1.38889rem;
          height: 1.38889rem;

          
        }

      .block-views-blockreleases-title-releases-block h2 {
        letter-spacing: -0.01em;
        font-size: var(--font-size-xs);   
        line-height: var(----sp0-5); 
        margin-block: var(--sp)
      } 
         
        
        @media (min-width: 38.88889rem) {

      .block-views-blockreleases-title-releases-block h2 {
          font-size: var(--font-size-s);
          line-height: var(----sp0-5);
          margin-block: var(--sp)
      }
        }

      .block-views-blockreleases-title-releases-block a{
        text-decoration: none;
        border-bottom: 1px var(--color--main-1) dotted;
        color:var(--color--main-1);
      }
      .block-views-blockreleases-title-releases-block a:hover{
        border-bottom:none;
        color:var(--color--black);
      }
        .block-views-blockreleases-title-releases-block .view-footer a{
          text-decoration: underline;
          color:var(--color--main-1);
          border-bottom:none;
        }
        .block-views-blockreleases-title-releases-block .view-footer a:hover{
          text-decoration: none;
          color:var(--color--black);
          border-bottom:none;
        }
  
  .block-field-blocknodeproductbody{
    margin-top: var(--sp1-5);
  }
  
}

 .block-views-blockproducts-products-block .views-view-grid__item{
    border:1px solid var(--color--main-1);
    border-radius:var(--border-radius3);
    padding: 1.11111rem

  }

 .block-views-blockproducts-products-block .views-view-grid__item a{
      text-decoration: none;
      color:var(--color--black);
      box-shadow: none;
    }

 .block-views-blockproducts-products-block .views-view-grid__item a:hover{
      text-decoration: underline;
      color:var(--color--main-1);
    }

 .block-views-blockproducts-products-block .views-view-grid__item h3 {
      font-size: var(--font-size-l);    
      line-height: var(--sp1-5)
    }

 @media (min-width: 38.88889rem) {

 .block-views-blockproducts-products-block .views-view-grid__item h3 {
        font-size: var(--font-size-xl);
        line-height: var(--sp2)
    }
      }

 .block-views-blockproducts-products-block{
  
  .node__content{
    padding-block-end: 0px ;
  }

  .layout--twocol-section{
    flex-wrap: wrap
  }

    @media (min-width: 38.88889rem) {

  .layout--twocol-section{
      flex-wrap: inherit
  }
    }


}

 .view-display-id-releases_page{
      .field--name-title h3 {
        font-size: var(--font-size-l);    
        line-height: var(--sp1-5)
      }   
        
        @media (min-width: 38.88889rem) {
      .field--name-title h3 {
          font-size: var(--font-size-xl);
          line-height: var(--sp2)
      }
        }

      .field--name-title a{
        text-decoration: none;
        color:var(--color--black);
        box-shadow: none;
      }
      .field--name-title a:hover{
        text-decoration: underline;
        color:var(--color--main-1);
      } 
}

 .page-node-type-release{

  .region--content {
 
    width:90%;
    margin:auto
  
    }
  
    @media (min-width: 38.88889rem) {

  .region--content {
      width:75%
  
    }
    }
}